# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
.eggs/
.python-version

# Virtual environments
venv/
.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
